*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
*/.ipynb_checkpoints
*/.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# JOSS
/joss/*
!/joss/make.sh
!/joss/paper.md
!/joss/paper.bib
!/joss/figure.jl
!/joss/figure.pdf