*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
*/.ipynb_checkpoints
*/.ipynb_checkpoints/
*/.ipynb_checkpoints/*